/* .rock{
    background-color: ;
    color: ;
}
.ghost{
    background-color: ;
}
.steel{
    background-color: ;
} */
.water{
    background-color: #74cb48;
}
/* .grass{
    background-color: #74cb48;
}
.psychic{
    background-color: ;
}
.ice{
    background-color: ;
}
.dark{
    background-color: ;
}
.fairy{
    background-color: ;
}
.normal{
    background-color: ;
}
.fighting{
    background-color: ;
}
.flying{
    background-color: ;
}
.poison{
    background-color: ;
}
.grass{
    background-color: ;
} */